.ant-layout-sider-children .logo {
  height: 12vh;
  background-image: url("../../static/img/logo.png");
  background-size: 100% 100%;
}

.site-layout .site-layout-background {
  display: flex;
  justify-content: center;
  align-items: center;
}

.site-layout .site-layout-content {
  background-color: white;
}
